body {
  font-family: Arial, sans-serif;
  background-color: #3d2c80;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#notes-container {
  background-color: #572ed4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

#note-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: 0;
  border-radius: 10px;
}

#add-note-btn,#clear-all-btn {
  background-color: #6b2ed4;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

#notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.note-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background-color: #365cf4;
  color: #fff;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
}

/* Media Queries for Responsiveness */

@media only screen and (min-width: 600px) {

  #notes-container {
    max-width: 600px;
  }
}

@media only screen and (min-width: 768px) {

  #notes-container {
    max-width: 800px;
  }
}


